@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:wght@700;900&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;font-family: 'Roboto';
}
.container
{
    width: 100%;
    height: 100vh;
    background-image: url("./usman-yousaf-pTrhfmj2jDA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.main
{
    display: flex;
height: 100vh;
align-items: end;
justify-content: space-between;
}
.text{
cursor: pointer;
padding-bottom: 10%;
    transition: all 0.9s ease-in-out;
    color: white;
}
.text:hover{
    color: #00b4fc;
}
#arr{
    color: #fff;
    font-size: 50px;
    padding: 20px;
    border: 4px solid #fff;
    border-radius: 57px;
    cursor: pointer;
    transition: all 0.9s ease-in-out;
}

.arrow-btn{
padding : 0 80px 90px 10px;

}
#arr:hover{
    color: #00b4fc;
    transform: rotate(30deg);
border-color: #00b4fc;
}